$color-primary-100: #FF7955;
$color-primary-200: #FEA97B;

$color-secondary-100: #fc8260;
$color-tertiary-100: #faa375;

$color-gray-100: #9B9B9B;

$color-dark-000: #1F1F1F;
$color-dark-100: #262626;
$color-dark-200: #303030;

$color-dark: #292D32;
$color-white: #FFFFFF;
$color-green: #2ae678;
$color-red: #e62a2a;
