.Categorie {
  margin-bottom: 8px;
}

.DashboardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Scroll {
  margin-top: 30px
}

.TitleSection {
  margin-bottom: 16px;
}
